<%- include('./layouts/header') -%>

<main>
    <h1>Système de Gestion d'Inventaire</h1>


    <div class="numContainer">
        <p>Nombre de produits : <br><br> <%= num %></p>
       
    </div>
</main>
